@charset "UTF-8";
/******************************************************************
Site Name: weblog.coletree.com
Author:	coletree
Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: weblog.coletree.com
Author:	coletree
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/******************************************************************
Site Name: weblog.coletree.com
Author:	coletree
Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
Link Style
*********************/
/*********************
Round Conner 
*********************/
/*********************
Post Pic Shadow 
*********************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name: weblog.coletree.com
Author:	coletree

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
#inner-header {
  width: 100%; }

#inner-content {
  width: 100%; }

.footer #inner-footer {
  width: 100%;
  padding: 0 0; }

.footer-last-widget {
  float: left; }

/******************************************************************
Site Name: podcast.coletree.com
Author:	coletree

Stylesheet: Tablet & Mobile Stylesheet
******************************************************************/
/*********************
HEADER 模块
*********************/
.header {
  height: 40px; }
  .header #inner-header {
    height: 40px;
    width: 100%; }
    .header #inner-header .site-branding {
      padding-left: 0;
      text-align: center;
      position: relative; }
      .header #inner-header .site-branding .site-title a {
        display: inline-block;
        width: 120px;
        height: 40px;
        background: url(../images/logo.png) no-repeat 0 -7px;
        background-size: 120px 40px;
        text-decoration: none;
        line-height: 99em;
        vertical-align: top;
        overflow: hidden; }
    .header #inner-header #navMenuWrap {
      float: none;
      margin-top: 80px;
      padding: 0 20px;
      display: none;
      background: #fff; }
      .header #inner-header #navMenuWrap .nav {
        float: none;
        display: block;
        text-align: center;
        padding: 0 0 0 0; }
        .header #inner-header #navMenuWrap .nav li {
          display: block;
          float: none;
          border-top: dotted 1px #c8c2b9; }
          .header #inner-header #navMenuWrap .nav li a {
            border-right: 0 none;
            display: block;
            font-size: 16px;
            overflow: hidden;
            padding: 16px 20px; }

#content {
  padding: 60px 0 0; }

/*********************
单篇文章页面
*********************/
.hentry.single-volume {
  width: 100%; }
  .hentry.single-volume .article-featurePic p {
    margin-top: -8px; }
    .hentry.single-volume .article-featurePic p span {
      font-size: 14px;
      font-weight: bold;
      padding: 6px 12px; }
  .hentry.single-volume .volume-content {
    font-size: 17px;
    line-height: 28px;
    padding: 30px 25px 10px; }
    .hentry.single-volume .volume-content .article-header .volume-subTitle span.line {
      display: none; }
  .hentry.single-volume .volume-playlist {
    padding: 20px 20px 40px; }

.post_view_count {
  padding: 0 20px 30px; }

/******************************************************************
单篇文章底部关注赞赏
******************************************************************/
#single-article-footer {
  padding: 20px; }
  #single-article-footer table {
    width: 100%; }
    #single-article-footer table p {
      padding: 10px 20px; }

.single-volume-comment {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 100%;
  padding: 0 20px; }

#comments-title {
  padding: 10px 20px; }

.pingback,
.comment {
  padding: 20px; }

#related_volume {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto; }
  #related_volume ul {
    text-align: left;
    border: solid 1px #F6F4EF;
    box-sizing: border-box;
    background: #fff; }
  #related_volume h4 {
    padding: 16px 20px; }
  #related_volume li {
    position: relative;
    padding: 10px 20px 10px 120px;
    border: solid 1px #F6F4EF;
    border-width: 1px 0 0;
    box-sizing: border-box; }
    #related_volume li a {
      display: block; }
    #related_volume li .feature-image {
      position: absolute;
      left: 20px;
      top: 20px; }
      #related_volume li .feature-image img {
        width: 80px;
        height: 60px;
        vertical-align: top; }
    #related_volume li .info {
      padding: 10px 0; }
      #related_volume li .info h5 {
        font-size: 16px;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        overflow: hidden; }
      #related_volume li .info .text {
        font-size: 14px;
        color: #999;
        height: 30px;
        line-height: 30px;
        overflow: hidden; }

.signle-showAll {
  display: block;
  text-align: center;
  padding: 0 20px 100px; }
  .signle-showAll a {
    width: 100%;
    display: inline-block;
    padding: 16px 0 12px;
    border: solid 1px #eee;
    background: #fff;
    box-sizing: border-box; }
    .signle-showAll a:hover {
      color: #7e6b59;
      background: #fdfbf8; }
    .signle-showAll a span {
      display: inline-block;
      font-size: 18px;
      height: 32px;
      line-height: 32px;
      padding: 0 0 0 40px;
      background: url(../images/icon_32.png) 0 -288px no-repeat; }

/*********************
FOOTER STYLES
*********************/
.footer {
  display: none; }

/*********************
各类页面样式Page Style
*********************/
/*HomePage---------------------------------*/
#homepage-content {
  width: 100%;
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 20px 25px 40px;
  box-sizing: border-box; }
  #homepage-content .popVolumnList ul {
    margin-left: 0; }
    #homepage-content .popVolumnList ul li {
      float: none;
      display: block;
      margin: 0 0 30px;
      width: 100%;
      box-sizing: border-box; }
      #homepage-content .popVolumnList ul li a {
        display: block;
        line-height: 1.2; }
  #homepage-content .popVolumnList .featurePic {
    width: 100%;
    height: auto; }
    #homepage-content .popVolumnList .featurePic img {
      width: 100%;
      height: auto; }
  #homepage-content .popVolumnList .content {
    height: 180px;
    padding: 20px;
    background: #fff;
    text-align: center; }
    #homepage-content .popVolumnList .content span {
      display: inline-block;
      font-size: 16px;
      padding: 6px 20px;
      margin-bottom: 6px; }
    #homepage-content .popVolumnList .content h3 {
      margin: 0 0 16px;
      overflow: hidden; }
    #homepage-content .popVolumnList .content .listItemSummary {
      color: #888;
      font-size: 16px;
      line-height: 1.6em; }
    #homepage-content .popVolumnList .content .home-post-time {
      display: none; }
  #homepage-content .showAll {
    text-align: center; }
    #homepage-content .showAll a {
      display: block;
      padding: 16px 40px 12px;
      border: solid 1px #eee;
      background: #fff; }
      #homepage-content .showAll a:hover {
        color: #7e6b59;
        background: #fdfbf8; }
      #homepage-content .showAll a span {
        display: inline-block;
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        padding: 0 0 0 40px;
        background: url(../images/icon_32.png) 0 -288px no-repeat; }

/*存档页---------------------------------*/
#main.volume-archive-list {
  padding: 40px 20px; }
  #main.volume-archive-list h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 20px;
    margin-bottom: 10px; }
  #main.volume-archive-list article {
    background: #fff;
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.06);
    -o-box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.06);
    -moz-box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.06);
    -webkit-box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.06); }
  #main.volume-archive-list .volume-image-wrap {
    float: none;
    padding-right: 0; }
    #main.volume-archive-list .volume-image-wrap img {
      width: 100%;
      height: auto;
      vertical-align: top; }
  #main.volume-archive-list .volume-header-wrap {
    text-align: left;
    overflow: hidden;
    padding: 20px; }
    #main.volume-archive-list .volume-header-wrap .volume-title {
      font-size: 18px;
      font-weight: bold;
      padding: 8px 0 12px; }
      #main.volume-archive-list .volume-header-wrap .volume-title em {
        font-size: 12px;
        color: #fff;
        display: block;
        width: 60px;
        padding: 4px 8px;
        text-align: center;
        vertical-align: 2px;
        margin: 0 8px 16px 0; }
    #main.volume-archive-list .volume-header-wrap .volume-summary {
      font-size: 14px;
      line-height: 1.6em;
      margin-bottom: 12px; }
    #main.volume-archive-list .volume-header-wrap .volume-meta {
      display: none; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
