/******************************************************************
Site Name: weblog.coletree.com
Author:	coletree

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
.header {
    height: 60px;
}

#inner-header {
    width: 100%;
}

.site-branding{
	left: 10px;
	top: -4px;
}

#menuSwitchWrap{
	display: inline-block;
}

#navMenuWrap{
	float: none;
	margin-top: 80px;
	padding: 0 20px;
	display: none;
	background: #fff;
}

#inner-header nav{

	.nav{
		float: none;
		display: block;
		text-align: center;
		padding: 0 0 0 0;

		li{
			display: block;
			float: none;
			border-top: dotted 1px #c8c2b9;

			a {
			border-right: 0 none;
			display:block;
			font-size: 16px;
			overflow: hidden;
			padding: 16px 20px;
			}

		}

	}

}








.hentry.single-volume {
    width: 100%;
}

.volume-subTitle span.line{
	display: none;
}

.hentry.single-volume .volume-content {
    padding: 40px 20px 10px;
}

.hentry.single-volume .volume-playlist {
    padding: 20px 20px 40px;
}

#single-article-footer .left{
	display: none;
}

#single-article-footer .right {
    border-left: 0 none;
    float: none;
    margin: auto;
}

#single-article-footer .jiathis_style {
    text-align: center;
}




#subscribeSection.postSubcribe {
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	width:100%;
}

#subscribeSection.postSubcribe .subcribeBtns li {
    padding: 8px 10px;
}

#related_volume {
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	width:100%;
}

#related_volume {
    padding: 0;
}

#related_volume h4 {
    padding: 16px 20px;
}

#related_volume li {
    padding: 20px 20px 20px 160px;
}

#related_volume li .feature-image {
    left: 20px;
}


.single-volume-comment{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	width:100%;
}

.single-volume-comment {
    padding: 15px 0 30px;
}









#footerWidget {
    padding: 0 40px;

    .widgetTitle {
		font-size: 16px;
		font-weight: normal;
		padding-bottom: 16px;
		margin-bottom: 0;
	}

	.footer-widget {
		float: none;
		display: block;
		width: 100%;
		margin-right: 0;

		li{
		    padding: 12px 0 12px 2px;
		    border-bottom: dotted 1px #EEE;

		    a{
		    	font-size: 16px;
		    	display: block;
		    }
		}

	}

	.footer-last-widget{
	    display: none;
	}
}



.footer-bottom{
    
    .other-links{
    	float: none;
    	text-align: center;
    	padding: 10px 0;
    	margin-bottom: 10px;

    	li {
			float: none;
			display: inline-block;
			margin-left: 0px;
			padding: 8px;

			a{
				font-size: 14px;
			}
		}
    }

    .copyright {
    	float: none;
    	font-size: 14px;
    	text-align: center;
    	padding: 10px 0;
	}
}



/*HomePage---------------------------------*/


.fullWidthInner{
	width: 100%;
}

#subscribeSection .subcribeBtns {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#subscribeSection .subcribeBtns li {
    border-right: 0 none;
}

#subscribeSection .socialBtns {
	display: none;
}

#popVolumnSection .popVolumnList ul li {
    float: none;
}


